.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
}

.top-bar i {
  font-size: 14px;
}

.top-bar .top-bar__b-level {
  margin-left: 5px;
}
